@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* html {
  scroll-behavior: smooth;
} */

.line {
  position: absolute;
  width: 150px; /* Adjust based on your path */
  height: 2px; /* Line thickness */
  background-color: rgba(0, 0, 0, 0.5); /* Line color */
  animation: lineTrail 5s linear forwards;
  /* Position the line to start at the particle's initial position */
  top: 0;
  left: 0;
}

@keyframes widthAnimation {
  0% {
    width: 0px; /* Start at 0px */
  }
  100% {
    width: 100%; /* End at 100% */
  }
}

.transition-width {
  /* width: 0px !important; */
  animation: widthAnimation 3s linear; /* Apply the animation */
}
